.has-error div {
  color: red;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.disabled {
  cursor: not-allowed;
}

.pointer {
  cursor: pointer;
}

input:checked + .card {
  border: 1px solid black;
}

.order-summary {
  min-height: 85vh;
  width: 40%;
  border-left: 1px solid lightgrey;
  height: 100%;
}