.has-error div {
  color: red;
}

.list-group-horizontal .list-group-item {
  font-size: 14px;
  padding: 10px;
}

.sticky-bottom {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 20px;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.disabled {
  cursor: not-allowed;
}

.pointer {
  cursor: pointer;
}

input:checked + .card {
  border: 1px solid black;
}

.order-summary {
  min-height: 85vh;
  width: 40%;
  border-left: 1px solid lightgrey;
  height: 100%;
  
}

.small {
  font-size: 14px;
}

.item-price {
  min-width: 40px;
}